.homeContainer {
    
    /* background-image: url('../../public/background.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
td{
    background: transparent !important;
    /* color: white !important; */
    border-bottom: none !important;
    font-size: 17px;
}
.addButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userTable{
    font-size: 20px;
}
.userImg{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  .searchList{
    border:1px solid gray;
    position :absolute;
    right:160px;
    top:55px;
    width: 207px;
    background-color: white;
    border-radius: 10px;
  }
  .searchList > ul >li{
    border-bottom: 1px solid lightgray;
    padding:5px 10px;
    cursor: pointer;
  }
  .searchList > ul{
    list-style-type: none; /* Removes bullets */
    margin: 0;             /* Removes default margin */
    padding: 0;
  }